black==21.11b1
certifi==2020.6.20
chardet==4.0.0
click==8.0.3
colorzero==1.1
decorator==5.1.0
distro==1.5.0
evdev==1.4.0
gpiozero==1.6.2
idna==2.10
jsonpath-ng==1.5.3
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.4.0
ply==3.11
python-apt==2.2.1
python-mpd2==3.0.4
regex==2021.11.10
requests==2.25.1
RPi.GPIO==0.7.0
six==1.16.0
spidev==3.5
ssh-import-id==5.10
tomli==1.2.2
typing-extensions==4.0.1
urllib3==1.26.5
